/* Core Style */

#body {
	padding-top: 55px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: cover;
}

h1, h2, h3 {
	margin: 0px;
	padding: 1em 0;
}

h4 {
	padding: 0;
}

p {
	margin: 0px;
	padding: 1em 5%;
}

.btn {
	display: inline-block;
	background: #999;
	color: #fff;
	text-decoration: none;
	padding: 1em 2em;
	margin: .5em 0;
	border: .5px solid #000;
}

.btn:hover {
	background: #666;
	color: #eaeaea;
}

/* Bootstrap Modification */

.bg-medium-dark {
	background: #333;
	opacity: .8;
}

.bg-medium-dark:hover {
	background: #333;
	opacity: 1;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #b2cfff
}

.active-tab {
	border: #fff;
	border-radius: 5px;
	background: #222;
	opacity: 1;
}

/* Header Showcase */

#showcase {
	min-height: 450px;
	color: #fff;
	text-align: center;
}

#showcase .bg-image {
	position: absolute;
	background: #333 url('');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	height: 100%;
	z-index: -1;
	opacity: .4;
}

#showcase h1 {
	padding-top: 100px;
	padding-bottom: 0px;
}

#showcase .content-wrap,
#section-a .content-wrap {
	padding: 0 1.5em;
}

/* Section A */

#section-a {
	background: #eaeaea;
	color: #333;
	padding-bottom: 2em;
}

/* Section B */

#section-b .card {
	border: none;
}

#section-b .card img {
	display: block;
	width: 100%;
}

#section-b .card-4 img {
	display: block;
	width: 100%;
}

#section-b {
	padding: 2em 1em 1em;
}

#section-b ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#section-b li {
	margin-bottom: 1em;
	background: #fff;
	color: #333;
}

.card-title {
	padding: .25em 0;
}

.card-content {
	padding: 1.5em;
	height: 100%;
	border: none;
}

/* Section C */

#section-c {
	background: #fff;
	color: #333;
	padding: 2em;
}

/* Section D */

#section-d .box {
	padding: 2em;
	color: #fff;
}

#section-d .box:first-child {
	background: #0053d8;
}

/* Footer */

#main-footer {
	padding: 2em;
	background: #000;
	color: #fff;
	text-align: center;
}

#main-footer a {
	color: #2690d4;
	text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 45em)) 1fr;
	}

	#showcase .bg-image {
		height: 550px;
	}

	#section-a .content-text {
		columns: 1;
		column-gap: 2em;
	}

	#section-a .content-text p {
		padding-top: 0;
	}

	.content-wrap,
	#section-b ul {
		grid-column: 1/5;
	}

	#section-b ul {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	#section-b .membercard:hover {
		cursor: pointer;
		transition: 0.2s;
		opacity: .8;
	}

	#section-b .card-3 {
		width: 30%;
	}

	#section-b .card-4 {
		width: 22%;
	}

	#section-b .card-5 {
		width: 18.5%;
	}

	#section-b .content-header {
		grid-column: 1/5;
	}

	#section-d, #section-e {
		grid-column: 1/5;
		display: flex;
	}

	.box,
	#main-footer div {
		grid-column: 2/4;
	}
}
